# Format for tag conversion (all items in tag `namespace:tag/name` will be converted to destination item `modid:item`):
# namespace:tag/name=modid:item
# Format for direct item conversion (the item `modid:sourceitem` will be converted to `modid:destitem`):
# modid:sourceitem>modid:destitem

forge:carbs/barley=simplefarming:barley
forge:carbs/corn=simplefarming:corn
forge:carbs/rice=simplefarming:rice
forge:carbs/rye=simplefarming:rye
forge:carbs/sweet_potato=simplefarming:sweet_potato
forge:coal_coke=immersiveengineering:coal_coke
forge:crops/aubergine=simplefarming:eggplant
forge:crops/barley=simplefarming:barley
forge:crops/corn=simplefarming:corn
forge:crops/cotton=simplefarming:cotton
forge:crops/eggplant=simplefarming:eggplant
forge:crops/ginger=simplefarming:ginger
forge:crops/lettuce=simplefarming:lettuce
forge:crops/onion=simplefarming:onion
forge:crops/radish=simplefarming:radish
forge:crops/rice=simplefarming:rice
forge:crops/rye=simplefarming:rye
forge:crops/soybean=simplefarming:soybean
forge:crops/spinach=simplefarming:spinach
forge:crops/sweet_potato=simplefarming:sweet_potato
forge:crops/tomato=simplefarming:tomato
forge:crops/turnip=simplefarming:turnip
forge:crops/zucchini=simplefarming:zucchini
forge:dusts/aluminum=alltheores:aluminum_dust
forge:dusts/bronze=thermal:bronze_dust
forge:dusts/charcoal=mekanism:dust_charcoal
forge:dusts/coal=mekanism:dust_coal
forge:dusts/constantan=thermal:constantan_dust
forge:dusts/copper=alltheores:copper_dust
forge:dusts/diamond=mekanism:dust_diamond
forge:dusts/electrum=thermal:electrum_dust
forge:dusts/emerald=mekanism:dust_emerald
forge:dusts/gold=alltheores:gold_dust
forge:dusts/iron=alltheores:iron_dust
forge:dusts/lapis=mekanism:dust_lapis_lazuli
forge:dusts/lead=alltheores:lead_dust
forge:dusts/netherite=mekanism:dust_netherite
forge:dusts/obsidian=mekanism:dust_obsidian
forge:dusts/osmium=alltheores:osmium_dust
forge:dusts/silver=alltheores:silver_dust
forge:dusts/steel=mekanism:dust_steel
forge:dusts/sulfur=thermal:sulfur_dust
forge:dusts/tin=alltheores:tin_dust
forge:dusts/uranium=alltheores:uranium_dust
forge:dusts/wood=mekanism:sawdust
forge:dusts/zinc=alltheores:zinc_dust
forge:fruits/banana=simplefarming:banana
forge:fruits/orange=simplefarming:orange
forge:fruits/pear=simplefarming:pear
forge:fruits/plum=simplefarming:plum
forge:gears/bronze=thermal:bronze_gear
forge:gears/constantan=thermal:constantan_gear
forge:gears/copper=thermal:copper_gear
forge:gears/diamond=thermal:diamond_gear
forge:gears/electrum=thermal:electrum_gear
forge:gears/emerald=thermal:emerald_gear
forge:gears/gold=thermal:gold_gear
forge:gears/iron=thermal:iron_gear
forge:gears/lapis=thermal:lapis_gear
forge:gears/quartz=thermal:quartz_gear
forge:gears/tin=thermal:tin_gear
forge:gems/diamond=minecraft:diamond
forge:gems/emerald=minecraft:emerald
forge:gems/lapis=minecraft:lapis_lazuli
forge:gems/mana_diamond=botania:mana_diamond
forge:gems/sulfur=thermal:sulfur
forge:grain/barley=simplefarming:barley
forge:grain/rice=simplefarming:rice
forge:grain/rye=simplefarming:rye
forge:ingots/aluminum=alltheores:aluminum_ingot
forge:ingots/bronze=thermal:bronze_ingot
forge:ingots/constantan=thermal:constantan_ingot
forge:ingots/copper=alltheores:copper_ingot
forge:ingots/electrum=thermal:electrum_ingot
forge:ingots/gold=minecraft:gold_ingot
forge:ingots/iron=minecraft:iron_ingot
forge:ingots/lead=alltheores:lead_ingot
forge:ingots/nickel=alltheores:nickel_ingot
forge:ingots/osmium=alltheores:osmium_ingot
forge:ingots/platinum=alltheores:platinum_ingot
forge:ingots/silver=alltheores:silver_ingot
forge:ingots/tin=alltheores:tin_ingot
forge:ingots/uranium=alltheores:uranium_ingot
forge:ingots/zinc=alltheores:zinc_ingot
forge:nuggets/aluminum=alltheores:aluminum_nugget
forge:nuggets/bronze=thermal:bronze_nugget
forge:nuggets/constantan=thermal:constantan_nugget
forge:nuggets/copper=alltheores:copper_nugget
forge:nuggets/electrum=thermal:electrum_nugget
forge:nuggets/gold=minecraft:gold_nugget
forge:nuggets/iron=minecraft:iron_nugget
forge:nuggets/lead=alltheores:lead_nugget
forge:nuggets/nickel=alltheores:nickel_nugget
forge:nuggets/osmium=alltheores:osmium_nugget
forge:nuggets/platinum=alltheores:platinum_nugget
forge:nuggets/silver=alltheores:silver_nugget
forge:nuggets/tin=alltheores:tin_nugget
forge:nuggets/uranium=alltheores:uranium_nugget
forge:nuggets/zinc=alltheores:zinc_nugget
forge:ores/aluminum=alltheores:ore_aluminum
forge:ores/copper=alltheores:ore_copper
forge:ores/diamond=minecraft:diamond_ore
forge:ores/emerald=minecraft:emerald_ore
forge:ores/gold=minecraft:gold_ore
forge:ores/iron=minecraft:iron_ore
forge:ores/lapis=minecraft:lapis_ore
forge:ores/lead=alltheores:ore_lead
forge:ores/nickel=alltheores:ore_nickel
forge:ores/osmium=alltheores:ore_osmium
forge:ores/platinum=alltheores:ore_platinum
forge:ores/tin=alltheores:ore_tin
forge:ores/uranium=alltheores:ore_uranium
forge:ores/zinc=alltheores:ore_zinc
forge:plates/aluminum=immersiveengineering:plate_aluminum
forge:plates/bronze=thermal:bronze_plate
forge:plates/constantan=thermal:constantan_plate
forge:plates/copper=thermal:copper_plate
forge:plates/electrum=thermal:electrum_plate
forge:plates/gold=thermal:gold_plate
forge:plates/iron=thermal:iron_plate
forge:plates/lead=thermal:lead_plate
forge:plates/nickel=thermal:nickel_plate
forge:plates/steel=immersiveengineering:plate_steel
forge:plates/uranium=immersiveengineering:plate_uranium
forge:protein/corn=simplefarming:corn
forge:protein/peanut=simplefarming:peanut
forge:protein/rice=simplefarming:rice
forge:protein/spinach=simplefarming:spinach
forge:protein/sweet_potato=simplefarming:sweet_potato
forge:rods/aluminum=immersiveengineering:stick_aluminum
forge:rods/copper=createaddition:copper_rod
forge:rods/gold=createaddition:gold_rod
forge:rods/iron=createaddition:iron_rod
forge:salad_ingredients=simplefarming:spinach
forge:salad_ingredients/lettuce=simplefarming:lettuce
forge:salad_ingredients/spinach=simplefarming:spinach
forge:seeds/barley=simplefarming:barley_seeds
forge:seeds/cotton=simplefarming:cotton_seeds
forge:seeds/eggplant=simplefarming:eggplant_seeds
forge:seeds/ginger=simplefarming:ginger_seeds
forge:seeds/lettuce=simplefarming:lettuce_seeds
forge:seeds/onion=simplefarming:onion_seeds
forge:seeds/peanut=simplefarming:peanut_seeds
forge:seeds/radish=simplefarming:radish_seeds
forge:seeds/rice=simplefarming:rice_seeds
forge:seeds/rye=simplefarming:rye_seeds
forge:seeds/soybean=simplefarming:soybean_seeds
forge:seeds/spinach=simplefarming:spinach_seeds
forge:seeds/sweet_potato=simplefarming:sweet_potato_seeds
forge:seeds/tomato=simplefarming:tomato_seeds
forge:seeds/turnip=simplefarming:turnip_seeds
forge:seeds/zucchini=simplefarming:zucchini_seeds
forge:storage_blocks/bronze=thermal:bronze_block
forge:storage_blocks/charcoal=mekanism:block_charcoal
forge:storage_blocks/coal_coke=immersiveengineering:coke
forge:storage_blocks/constantan=thermal:constantan_block
forge:storage_blocks/copper=alltheores:copper_block
forge:storage_blocks/emerald=minecraft:emerald_block
forge:storage_blocks/gold=minecraft:gold_block
forge:storage_blocks/iron=minecraft:iron_block
forge:storage_blocks/lead=alltheores:lead_block
forge:storage_blocks/nickel=alltheores:nickel_block
forge:storage_blocks/osmium=alltheores:osmium_block
forge:storage_blocks/platinum=alltheores:platinum_block
forge:storage_blocks/silver=alltheores:silver_block
forge:storage_blocks/sulfur=thermal:sulfur_block
forge:storage_blocks/tin=alltheores:tin_block
forge:storage_blocks/uranium=alltheores:uranium_block
forge:storage_blocks/zinc=alltheores:zinc_block
forge:wires/aluminum=immersiveengineering:wire_aluminum
forge:wires/copper=createaddition:copper_wire
forge:wires/electrum=immersiveengineering:wire_electrum
forge:wires/gold=createaddition:gold_wire
forge:wires/iron=createaddition:iron_wire
forge:wires/steel=immersiveengineering:wire_steel

